<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

    <!--Connection our database!-->
    <connectionStrings>
      <add name="cS_db" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Andromeda\Desktop\ЯГТУ\2 КУРС 20-21\4 семестр\ЛР и ПР\СУБД\LR7 (Проект)\APS Desktop\CAS_ControlAccessSystem_database.mdf;Integrated Security=True"/>
    </connectionStrings>


</configuration>